header{
  background-color: rgb(116, 114, 114);
  padding: 2rem;
  font-size: 1rem;
  font-size: 2rem;
    color: white;
    text-align: center;
    font-family: Verdana ;
    font-weight: bolder;
}

.notes-container{
  border: black 2px solid;
  margin: 1rem auto;
 width: 70%;
 padding: 1rem;
}

.notes-container input{
  width: 50%;
  
}