header{
  background-color: rgb(116, 114, 114);
  padding: 2rem;
  font-size: 1rem;
  font-size: 2rem;
    color: white;
    text-align: center;
    font-family: Verdana ;
    font-weight: bolder;
}

.notes-container{
  border: black 2px solid;
  margin: 1rem auto;
 width: 70%;
 padding: 1rem;
}

.notes-container input{
  width: 50%;
  
}


container{
margin: 1rem 0;

padding: 0.4rem 0;
}

.strike{
  text-decoration: line-through;
  padding: 0.4rem;
  border-radius: 30px;
  font-weight: bolder;
  background-color: rgb(255, 211, 211);

}
.button-container{
  display: flex;
  flex-direction: column;
  width: 08%;
  padding-right: 20px;
  margin-left: 10px;

}


.item-container{
  display: flex;
  flex-direction: row;
align-items: center;
border: black 2px solid;
margin: 0.7rem 0;
font-size: 20px;
-webkit-box-shadow: 5px 6px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    5px 6px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         5px 6px 5px 0px rgba(50, 50, 50, 0.75);
background-color: cornsilk;

transition: all .2s ease-in-out; 
}

.item-container:hover { transform: scale(1.1); }